body{
    font-family: 'Open Sans', sans-serif;
    display: inline;
}
h2{
    text-align: center;
}
h4{
    text-align: center;
}
table, th{
    border: 1px black solid;
}
table{
    border-collapse: collapse;
    width: 100%;
}
select{
    border: none;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.carac input{
    width: 100%;
}
textarea{
    width: 100%;
    height: 200px;
}
.btn{
    margin: 20px 0px;
}
#btn-p{
    margin-left: 80%; 
}